<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Books catalog</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<form method="POST">
    <label>
        Isbn:<br>
        <input type="text" name="isbn"><br>
    </label>
    <label>
        Title:<br>
        <input type="text" name="title"><br>
    </label>
    <label>
        Author:<br>
        <input type="text" name="author"><br>
    </label>
    <label>
        Publisher:<br>
        <input type="text" name="publisher"><br>
    </label>
    <label>
        Type:<br>
        <input type="text" name="type"><br>
    </label>
    <input type="submit">
</form>

        <ul class="main">
                <li>Titles</li>
        </ul>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>